In [2]:
import numpy as np
import pandas as pd

In [5]:
fb_file_path = "C:\\Users\\SWAYAMPRABHA\\Documents\\fb.csv"
fb1_file_path = "C:\\Users\\SWAYAMPRABHA\\Documents\\fb_1.csv"
airquality_file_path = "C:\\Users\\SWAYAMPRABHA\\Documents\\airquality.csv"

In [6]:
file_1 = pd.read_csv(fb_file_path)
print(file_1)

        userid  age  dob_day  dob_year  dob_month  gender  tenure  \
0      2094382   14       19      1999         11    male   266.0
1      1192601   14        2      1999         11  female     6.0
2      2083884   14       16      1999         11    male    13.0
3      1203168   14       25      1999         12  female    93.0
4      1733186   14        4      1999         12    male    82.0
...        ...  ...      ...       ...        ...     ...     ...
98998  1268299   68        4      1945          4  female   541.0
98999  1256153   18       12      1995          3  female    21.0
99000  1195943   15       10      1998          5  female   111.0
99001  1468023   23       11      1990          4  female   416.0
99002  1397896   39       15      1974          5  female   397.0

       friend_count  friendships_initiated  likes  likes_received  \
0                 0                      0      0               0
1                 0                      0      0               0
2                 0                      0      0               0
3                 0                      0      0               0
4                 0                      0      0               0
...             ...                    ...    ...             ...
98998          2118                    341   3996           18089
98999          1968                   1720   4401           13412
99000          2002                   1524  11959           12554
99001          2560                    185   4506            6516
99002          2049                    768   9410           12443

       mobile_likes  mobile_likes_received  www_likes  www_likes_received
0                 0                      0          0                   0
1                 0                      0          0                   0
2                 0                      0          0                   0
3                 0                      0          0                   0
4                 0                      0          0                   0
...             ...                    ...        ...                 ...
98998          3505                  11887        491                6202
98999          4399                  10592          2                2820
99000         11959                  11462          0                1092
99001          4506                   5760          0                 756
99002          9410                   9530          0                2913

[99003 rows x 15 columns]

In [8]:
print(file_1.shape)

(99003, 15)

In [12]:
print(len(file_1.axes[0])) #rows
print(len(file_1.axes[1]))#column

99003
15

In [14]:
sub_1 = file_1[['userid','gender']]
print(sub_1)

        userid  gender
0      2094382    male
1      1192601  female
2      2083884    male
3      1203168  female
4      1733186    male
...        ...     ...
98998  1268299  female
98999  1256153  female
99000  1195943  female
99001  1468023  female
99002  1397896  female

[99003 rows x 2 columns]

In [15]:
print(sub_1.head(6))

    userid  gender
0  2094382    male
1  1192601  female
2  2083884    male
3  1203168  female
4  1733186    male
5  1524765    male

In [16]:
print(sub_1.tail())

        userid  gender
98998  1268299  female
98999  1256153  female
99000  1195943  female
99001  1468023  female
99002  1397896  female

In [24]:
hd=sub_1.head(6)
print(hd)
tl=sub_1.tail(6)
print(tl)

    userid  gender
0  2094382    male
1  1192601  female
2  2083884    male
3  1203168  female
4  1733186    male
5  1524765    male
        userid  gender
98997  1458985  female
98998  1268299  female
98999  1256153  female
99000  1195943  female
99001  1468023  female
99002  1397896  female

In [23]:
mymerge = pd.merge(hd,tl,on='userid')
print(mymerge)

Empty DataFrame
Columns: [userid, gender_x, gender_y]
Index: []

In [26]:
hd1 =(file_1['userid']).head()
print(hd1)

0    2094382
1    1192601
2    2083884
3    1203168
4    1733186
Name: userid, dtype: int64

In [33]:
sub_3 = file_1['likes'] > 150
print(sub_3)

0        False
1        False
2        False
3        False
4        False
         ...
98998     True
98999     True
99000     True
99001     True
99002     True
Name: likes, Length: 99003, dtype: bool

In [35]:
file_2 = pd.read_csv(fb1_file_path)
print(file_2)

     pagetotallikes  type  category  postmonth  postweekday  posthour  paid  \
0            139441     2         2         12            4         3     0
1            139441     3         2         12            3        10     0
2            139441     2         3         12            3         3     0
3            139441     2         2         12            2        10     1
4            139441     2         2         12            2         3     0
..              ...   ...       ...        ...          ...       ...   ...
367           85093     2         3          1            7        10     0
368           85093     2         3          1            7         2     0
369           81370     2         2          1            5         8     0
370           81370     2         1          1            5         2     0
371           81370     2         3          1            4        11     0

     lifetimeposttotalreach  lifetimeposttotalimpressions  \
0                      2752                          5091
1                     10460                         19057
2                      2413                          4373
3                     50128                         87991
4                      7244                         13594
..                      ...                           ...
367                    5400                          9218
368                    4684                          7536
369                    3480                          6229
370                    3778                          7216
371                    4156                          7564

     lifetimeengagedusers  lifetimepostconsumers  lifetimepostconsumptions  \
0                     178                    109                       159
1                    1457                   1361                      1674
2                     177                    113                       154
3                    2211                    790                      1119
4                     671                    410                       580
..                    ...                    ...                       ...
367                   810                    756                      1003
368                   733                    708                       985
369                   537                    508                       687
370                   625                    572                       795
371                   626                    574                       832

     lifetimepostimpressionsbypeoplewhohavelikedyourpage  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
367                                               5654
368                                               4750
369                                               3961
370                                               4742
371                                               4534

     lifetimepostreachbypeoplewholikeyourpage  \
0                                        1640
1                                        6112
2                                        1503
3                                       32048
4                                        3200
..                                        ...
367                                      3230
368                                      2876
369                                      2104
370                                      2388
371                                      2452

     lifetimepeoplewhohavelikedyourpageandengagedwithyourpost  comment  like  \
0                                                  119               4    79
1                                                 1108               5   130
2                                                  132               0    66
3                                                 1386              58  1572
4                                                  396              19   325
..                                                 ...             ...   ...
367                                                422              10   125
368                                                392               5    53
369                                                301               0    53
370                                                363               4    93
371                                                370               7    91

     share  totalinteractions
0       17                100
1       29                164
2       14                 80
3      147               1777
4       49                393
..     ...                ...
367     41                176
368     26                 84
369     22                 75
370     18                115
371     38                136

[372 rows x 19 columns]

In [36]:
file_3 = pd.read_csv(airquality_file_path)
print(file_3)

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [44]:
file_4 = file_2[['like','comment','share','paid']] 
print(file_4)

     like  comment  share  paid
0      79        4     17     0
1     130        5     29     0
2      66        0     14     0
3    1572       58    147     1
4     325       19     49     0
..    ...      ...    ...   ...
367   125       10     41     0
368    53        5     26     0
369    53        0     22     0
370    93        4     18     0
371    91        7     38     0

[372 rows x 4 columns]

In [45]:
mytrans = file_4.T
print(mytrans)

         0    1    2     3    4    5    6    7    8    9    ...  362  363  \
like      79  130   66  1572  325  152  249  325  161  113  ...   74   79
comment    4    5    0    58   19    1    3    0    0    3  ...    1    1
share     17   29   14   147   49   33   27   14   31   26  ...   28   30
paid       0    0    0     1    0    0    1    1    0    0  ...    0    0

         364  365  366  367  368  369  370  371
like     105  128  185  125   53   53   93   91
comment    1    0   17   10    5    0    4    7
share     46    9   55   41   26   22   18   38
paid       1    0    0    0    0    0    0    0

[4 rows x 372 columns]

In [51]:
student_data = pd.DataFrame({"Student":['tom','jerry','tom','jerry'],
                           "Subject":['english','english','maths','maths'],
                           "Marks":[45,60,76,56]})
print(student_data)

  Student  Subject  Marks
0     tom  english     45
1   jerry  english     60
2     tom    maths     76
3   jerry    maths     56

In [56]:
mypivot = student_data.pivot(index="Student",columns="Subject",values="Marks")
print(mypivot)
mymelt = mypivot.melt(id_vars=['Student','Subject'])

Subject  english  maths
Student
jerry         60     56
tom           45     76

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Student', 'Subject']"

In [57]:
print(file_3.shape)

(153, 6)

In [58]:
file_3.dropna()

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
6     23.0    299.0   8.6    65      5    7
..     ...      ...   ...   ...    ...  ...
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[111 rows x 6 columns]

In [60]:
file_3.Ozone.mean()

42.12931034482759

In [61]:
file_3.Ozone.median()

31.5

In [66]:
file_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB